<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Username" value="LIFE360-USERNAME"/>
    <add key="Password" value="LIFE360-PASSWORD"/>    
    <add key="HS3Url" value="http://YOUR_IP"/>
  </appSettings>
</configuration>